<div class="post-card container">
    <h2 class="post-title">{{this.title}}</h2>
    <p class="post-content">{{this.content}}</p>
    <div class="divider"></div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#commentsCollapse" aria-expanded="false" aria-controls="commentsCollapse">
    Comments &darr;
    </button>
    <div class="collapse" id="commentsCollapse">
      <div class="card card-body">
        {{#each this.comments}}
        <div class="comment-container">
            <h5>{{this.author.name}}</h5>
            <p>{{this.content}}</p>
        </div>
        {{/each}}
      </div>
   </div>
</div>
