.PostForm-container {
    width: 70%;
    margin: auto;
    margin-top: 88px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.new-post-form {
    display: flex;
    flex-direction: column;

}

.post-form-label {
    text-align: left;
    margin-left: 88px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: .8em;

}

.form-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-div {
    margin: auto;
    width: 75%;
    padding: 16px;
}

.post-title-input {
    width: 80%;
    height: 24px;
    margin: auto;
    font-size: 1em;
    padding: 4px;

}

.post-content-input {
    width: 80%;
    margin: auto;
    font-size: 1em;
    padding: 4px;
    height: 80px;
}

.post-submit-btn {
    height: 32px;
    width: 20%;
    background-color: #FA4E4F;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition: all 300ms;
}

.post-submit-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
