.PostForm-container {
    width: 70%;
    margin: auto;
    margin-top: 88px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.85);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.new-post-form {
    display: flex;
    flex-direction: column;

}

.post-form-label {
    text-align: left;
    margin-left: 56px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: .8em;

}

.form-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-div {
    margin: auto;
    width: 75%;
    padding: 16px;
}

.post-title-input {
    width: 80%;
    height: 24px;
    margin: auto;
    font-size: 1em;
    padding: 4px;

}

.post-content-input {
    width: 80%;
    margin: auto;
    font-size: 1em;
    padding: 4px;
    height: 80px;
}


.post-submit-btn {
    background: none;
    color: #D00000;
    border-color: #D00000;
    font-size: 0.8em;
    font-weight: 500;
    margin-right: 60px;
    padding: 4px;
    width: 48px;
    transition: all 350ms;
}

.post-submit-btn:hover {
    background: #D00000;
    border-color: #D00000;
    color: white;
    cursor: pointer;
    transform: scale(1.03); 
}

