.big-flex {
    display: flex;
    flex-direction: row;
    
}

.PostFeed-container {
    width: 80%;
    margin: auto;
    overflow-y: scroll;

}

.posts-container {
    padding: 24px;
    max-width: 700px;
    margin: auto;
}

.post-card {
    border: none;
    border-bottom: solid black;
    border-width: thin;
    margin-bottom: 32px;

}

.post-title {
    text-align: left;
    padding-left: 24px;
    font-size: 2.5em;
}

.post-content {
    text-align: left;
    padding-left: 24px;
}

.post-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .5em;
    padding-left: 24px;

}
