<!-- Page will not actually display user posts. The each statement is currently setup for testing user posts  -->
<h1>Feed</h1>

{{#each posts}}
 {{>post}}
{{/each}}

<a href="/posts/new">Make New Post</a>
<a href="/auth/google">Login With Google</a>
