<!-- Page will not actually display user posts. The each statement is currently setup for testing user posts  -->
<h1 class="feed-header">Feed</h1>
<div class="posts-container">
{{#each posts}}
    {{> post}}
{{/each}}
</div>


<a href="/posts/new" class="btn btn-primary">Make New Post</a>

