<!-- Page will not actually display user posts. The each statement is currently setup for testing user posts  -->
<h1>Feed</h1>

{{#each posts}}
<h2>{{this.title}}</h2>
<small>{{this.author.name}}</small>
<hr>
<p>{{this.content}}</p>
{{/each}}

<a href="/posts/new">Make New Post</a>
<a href="/auth/google">Login With Google</a>
