<!DOCTYPE=html>
<html>
    <head>
		<title>SCA App CMS Login</title>
		<meta https-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="login.js"></script>
    </head>
    <body>
		<div class="login-container" id="LoginView">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Login</h1>
						<a href="/auth/google" class="btn btn-primary btn-large btn-block">SIGNUP WITH GOOGLE</a>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>