<!-- This is sample form for testing routes -->
<h1>New Post</h1>
<form action="/posts" method="post">
    <label for="title">Post Title</label>
    <input type="text" name="title">
    <label for="content">Content</label>
    <input type="text" name="content">
    <button type="submit">submit</button>
</form>
