.navbar-brand {
    height: 3em;
}
.navbar-brand img {
    height: 100%;
    width: auto;
}

body {
    font-size: 24px;
}


.posts-container {
    margin: auto;
    
}

.post-card {
    margin: auto;
}