.navbar-brand {
    height: 3em;
}
.navbar-brand img {
    height: 100%;
    width: auto;
}

body {
    font-size: 24px;
}


/*==================
POST--SECTION--------
=====================*/

.posts-container {
    margin: auto;
    background: lightgray;
    padding: 24px;

}

.post-card {
    margin: auto;
}

.btn-primary {
    background-color: var(--primary) !important;
}
