.PostWidget {
    margin-bottom: 0px;
    margin-top: 16px;
}

.widget-btn {
    background: none;
    outline: none;
    border: none;
    font-size: 1em;
    color: #D00000;
    transition: all 350ms;
}

.widget-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}
