
.PreviewPost {
    border-width: thin;
    margin-bottom: 24px;
    padding: 8px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    transition: all 350ms;
    height: 320px;

}

.PreviewPost:hover {
    transform: scale(1.02);
    cursor: pointer;

}

.post-content {
    text-overflow: ellipsis;

}

.post-title, .post-date {
    margin-top: 8px;
}





.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 164px;

}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post-author, .post-category {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 16px;
    font-size: .75em;
}
