.CommentForm {
    margin: auto;
    
}


.comment-form-header {
    text-align: left;
    margin-left: 48px;
}

.comment-input {
    width: 60%;
    height: 88px;
    font-size: 1em;
    padding: 8px;
    
}

.comment-area:focus {
    outline: none;
    border: none;
}

.comment-btn {
    margin-left: 356px;
    background-color: #FA4E4F;
    color: white;
    font-size: 1em;
    padding: 4px;
    transition: all 350ms;
}


.comment-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    
    
}