.CommentForm {
    margin: auto;
    
}


.comment-form-header {
    text-align: left;
    margin-left: 48px;
}

.comment-input {
    width: 80%;
    margin-top: 24px;
    font-size: 1em;
    padding: 8px;
    background: none;
    border: none;
    border-bottom: solid thin black;
    
}

.comment-input:focus {
    outline: none;
    
}

.comment-area:focus {
    outline: none;
    border: none;
}

.btn-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 43px;
    margin-top: 2px;
}



.comment-btn {
    background: none;
    color: #D00000;
    border-color: #D00000;
    font-size: 0.8em;
    font-weight: 500;
    padding: 4px;
    width: 48px;
    transition: all 350ms;
}


.comment-btn:hover {
    background: #D00000;
    border-color: #D00000;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    
    
}