.Sidebar {
    height: 110vh;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    width: 256px;
}

.users-info {
    margin-left: 16px;
}
 

.users-name {
    font-size: 1.5em;
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.sidebar-btn {
    margin-bottom: 16px;
    background-color: #FA4E4F;
    color: white;
    width: 75%;
    font-size: 1.2em;
    height: auto;
    padding: 8px;
    text-decoration: none;
    transition: all 350ms;

}

.fas {
    margin-right: 8px;
}

.sidebar-btn:hover {
    transform: translateX(10px);
    opacity: 0.7;
    background-color: #FA4E4F;
    cursor: pointer;
}
