.TopNav {
    width: 100%;
    margin: none;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    justify-content: space-between;
    height: 64px;
    position: sticky;
    top: 0px;
}
/* This is a placeholder item... the logo will go here*/
.un-branding {
    margin-top: 8px;
    margin-left: 8px;
}

.nav-search {
    margin-top: 8px;
    width: 256px;
    padding: 4px;
    font-size: .9em;
}

.search-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #559099;
    font-weight: 800;
    transition: all 350ms;
}
.search-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.auth-nav {
    margin-top: 12px;
}


.auth-btn {
    height: auto;
    width: 88px;
    margin-right: 16px;
    font-size: .8em;
    margin-top: 8px;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    background-color: #FA4E4F;
    color: white;
    transition: all 350ms;
}

.auth-btn:hover {
    transform: scale(1.05);
    opacity: 0.7;
    cursor: pointer;
}
